<nav>
	<ul class="pull-left list-inline">
		<li class=""><%= link_to t.pages.index.url_name, "/#{params[:locale]}/"%></li>
	</ul>
	<ul class="pull-right list-inline">
		<li class=""><%= link_to 'English', '/en/'%></li>
		<li class=""><%= link_to 'Castellano', '/es/'%></li>
	</ul>
</nav>